
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateUserSuccess @Model.CreateUserSuccess</h2>
<h2>AddClaimSuccess @Model.AddClaimSuccess</h2>
<h2>CheckPasswordSuccess @Model.CheckPasswordSuccess</h2>

